@import "tailwindcss";


@theme {
  --color-white: #fff;
  --color-white-dark: #fafafa;
  --color-gray-main: #6b7280;
  --color-gray-light: #4b5563;
  --color-gray-dark: #1f2937;

  --my-break-xl: 1296px;
}